@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Mukta&display=swap');

* {
  font-family: 'Mukta', sans-serif;
}

body {
  background-color: #fff;
}

a:hover {
  color: orange;
  text-decoration: none;
}

/* Header */
.logo {
  font-size: 2.5em;
  color: aliceblue;
  font-family: 'Ranchers', cursive;
}

/* HomeScreen */
.jumbo-home {
  background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?cs=srgb&dl=pexels-pixabay-373543.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-jumbo {
  height: 400px;
  background-color: rgb(126, 126, 126);
  background-image: linear-gradient(rgb(145, 145, 145), rgb(255, 255, 255));
}

.about-container {
  margin-top: 150px;
}

.info-container {
  margin-top: 150px;
}

.stack-container {
  margin-top: 100px;
  margin-bottom: 10px;
}

.services-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.resume {
  margin-bottom: 150px;
}
.portfolio {
  margin-bottom: 150px;
}

.contact-container {
  margin-bottom: 150px;
}

.ultra-container {
  margin-bottom: 80px;
}

/* Portfolio */
.jumbo-crypto {
  background-image: url('https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-house {
  background-image: url('https://images.unsplash.com/photo-1587637970934-a09453665678?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo-contact {
  background-image: url('https://goodereader.com/blog/uploads/images/Where-to-Sell-Comic-Books.jpg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

.main-text {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.skills-list {
  width: 230px;
  justify-content: center;
}

.bold {
  font-weight: 700;
  color: black;
}

.info-buttons {
  margin-top: 150px;
}

.footer {
  margin-top: 50px;
}

.skill-icon:hover {
  color: orange;
}

.example {
  position: absolute !important;
}
