@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

/* Header */
.logo {
  font-size: 2.5em;
  color: aliceblue;
  font-family: 'Ranchers', cursive;
}

/* HomeScreen */
.jumbo-home {
  background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?cs=srgb&dl=pexels-pixabay-373543.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Portfolio */
.jumbo-crypto {
  background-image: url('https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-house {
  background-image: url('https://images.pexels.com/photos/280229/pexels-photo-280229.jpeg?cs=srgb&dl=pexels-pixabay-280229.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo-contact {
  background-image: url('https://images.pexels.com/photos/33999/pexels-photo.jpg?cs=srgb&dl=pexels-negative-space-33999.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-nasa {
  background-image: url('https://images.pexels.com/photos/2156/sky-earth-space-working.jpg?cs=srgb&dl=pexels-pixabay-2156.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo-serials {
  background-image: url('https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?cs=srgb&dl=pexels-pixabay-162389.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo-spacex {
  background-image: url('https://images.pexels.com/photos/23769/pexels-photo.jpg?cs=srgb&dl=pexels-spacex-23769.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
