@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

/* Header */
.logo {
  font-size: 2.5em;
  color: aliceblue;
  font-family: 'Ranchers', cursive;
}

/* HomeScreen */
.jumbo-home {
  background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?cs=srgb&dl=pexels-pixabay-373543.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Portfolio */
.jumbo-crypto {
  background-image: url('https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-house {
  background-image: url('https://images.pexels.com/photos/280229/pexels-photo-280229.jpeg?cs=srgb&dl=pexels-pixabay-280229.jpg&fm=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
